<div class="d-flex">

    <div class="cuerpo">
        <div class="border-right p-3">

            <h4>CursosApp - Menu</h4>
            <hr>

            <div class="list-group list-reset my-2 text-center listas">
                <a routerLink="" class="list-group-item list-group-item-action">
                    Dashboard
                </a>
            </div>

            <div class="list-group list-reset my-2 text-center listas">
                <a routerLink="cursos" class="list-group-item list-group-item-action">
                    Cursos
                </a>
            </div>

            <div class="list-group list-reset my-2 text-center listas">
                <a routerLink="profesores" class="list-group-item list-group-item-action">
                    Profesores
                </a>
            </div>

            <div class="list-group list-reset my-2 text-center listas">
                <a routerLink="estudiantes" class="list-group-item list-group-item-action">
                    Estudiantes
                </a>
            </div>

        </div>
    </div>

</div>